<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/RestAssuredAPI/src/test/java/petstoreswagger/scenario1/PS1.java">
        <classes>
            <class name="petstoreswagger.scenario1.PS1">
                <methods>
                    <include name="addPetToStore"/>
                    <include name="findPetById"/>
                    <include name="findPetByStatus"/>
                    <include name="uploadFile"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>