<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional Suite">
    <test name="Annotation">
        <classes>
            <class name="testng.basics.TentNGBasicAnnotations"></class>
        </classes>
    </test>
    <test name="Assertion">
        <classes>
            <class name="testng.basics.TestNGAssertion"></class>
        </classes>
    </test>
    <test name="Dependencies">
        <classes>
            <class name="testng.basics.TestNGDependencies">
            </class>
        </classes>
    </test>
</suite>
